@keyframes modalOpen {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes closeModal {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.basemodal {
  &__container {
    opacity: 0;
    transform: scale(0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: closeModal 0.15s;
    z-index: 1030;
  }

  &__backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    z-index: 1030;
  }

  &__content {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1040;

    .btn {
      position: absolute;
      top: -40px;
      right: 0;
      border: solid 2px rgba(255, 255, 255, 0.95);
      font-size: 1.5rem;
      height: 35px;
      width: 35px;
      padding: 0;
      margin: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      --bs-btn-color: white;
      --bs-btn-bg: transparent;
      --bs-btn-hover-bg: rgba(255, 255, 255, 0.95);
      transition: border, background, color 0.2s;

      &:hover {
        border: none;
      }
    }
  }
}

.oppened {
  opacity: 1;
  transform: scale(1, 1);
  animation: modalOpen 0.2s;
}
